<h1>Meteorologist</h1>

<p>Here's the outlook for <%= @street_address %>:</p>

<dl>
  <dt>Current Temperature</dt>
  <dd><%= @current_temperature %></dd>

  <dt>Current Summary</dt>
  <dd><%= @current_summary %></dd>

  <dt>Outlook for next sixty minutes</dt>
  <dd><%= @summary_of_next_sixty_minutes %></dd>

  <dt>Outlook for next several hours</dt>
  <dd><%= @summary_of_next_several_hours %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @summary_of_next_several_days %></dd>

  <dt>Outlook for <%=@date_1%> (Today + 1)</dt>
  <dd><%= @summary_of_day_plus_1 %></dd>

  <dt>Outlook for <%=@date_2%> (Today + 2)</dt>
  <dd><%= @summary_of_day_plus_2 %></dd>

  <dt>Outlook for <%=@date_3%> (Today + 3)</dt>
  <dd><%= @summary_of_day_plus_3 %></dd>

  <dt>Outlook for <%=@date_4%> (Today + 4)</dt>
  <dd><%= @summary_of_day_plus_4 %></dd>

  <dt>Outlook for <%=@date_5%> (Today + 5)</dt>
  <dd><%= @summary_of_day_plus_5 %></dd>

  <dt>Outlook for <%=@date_6%> (Today + 6)</dt>
  <dd><%= @summary_of_day_plus_6 %></dd>

  <dt>Outlook for <%=@date_7%> (Today + 7)</dt>
  <dd><%= @summary_of_day_plus_7 %></dd>

  <dt>Outlook for <%=@date_8%> (Today + 8)</dt>
  <dd><%= @summary_of_day_plus_8 %></dd>

  <dt>Outlook for <%=@date_9%> (Today + 9)</dt>
  <dd><%= @summary_of_day_plus_9 %></dd>

  <dt>Outlook for <%=@date_10%> (Today + 10)</dt>
  <dd><%= @summary_of_day_plus_10 %></dd>

  <dt>Outlook for <%=@date_11%> (Today + 11)</dt>
  <dd><%= @summary_of_day_plus_11 %></dd>

  <dt>Outlook for <%=@date_12%> (Today + 12)</dt>
  <dd><%= @summary_of_day_plus_12 %></dd>

  <dt>Outlook for <%=@date_13%> (Today + 13)</dt>
  <dd><%= @summary_of_day_plus_13 %></dd>

  <dt>Outlook for <%=@date_14%> (Today + 14)</dt>
  <dd><%= @summary_of_day_plus_14 %></dd>

</dl>
